name: Check new version and build

on:
  workflow_dispatch:
#   schedule:
#     - cron:  '0 21 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3.2.0
        with:
          node-version: '16.x'

      - name: Install wine
        run: sudo apt update && sudo apt install -y wine64

      - name: Install dependencies
        run: npm install

      - name: Get latest version
        run: npx ts-node src/cli.ts get-version

      - name: Build
        run: npm run build

#       - name: Setup tmate session
#         uses: mxschmitt/action-tmate@v1
